.Person{
 	width: 100%;
 	margin: 16px auto;
 	border: 1px solid #eee;
 	box-shadow: 0 2px 3px #ccc;
 	padding: 16px;
 	text-align: center;
 	font-weight: 800;
 	font-size: 1.3rem;
 	transition: all 0.5s ease;
}

.Person:nth-of-type(odd){
 		background-color: #E00822;
 		color: white;
 		font-weight: 800;
}

input[type="text"]{
 		font-size: 1.2rem;
 		font-weight: 600;
 		height: 50px;
 		margin-bottom: 10%;
 		text-align: center;
 		width: 50%;
}

.Person.Green{
	background: lightgreen;
}
.Person.Yellow{
	background: gold;
	color: black;
	font-weight: 900;
	text-transform: uppercase;
}

@media (min-width: 500px) {
	.Person{
		width: 450px;
	}
}

.Blue{
	color: #20EEFF;
}