.App {
  text-align: center;
}

button{
	display: block;
	margin: 20px  auto;
	background-color: #4CAF50;
}

.personWrapper{
	border: 1px solid #bbb;
	box-shadow: 0 2px 3px #ccc;
	margin: 20px;
}

.red{
	color: red;
}

.bold{
	font-weight: bold;
}

.button{
	background-color: red;
	font: inherit;
  border: 1px solid black;
  padding: 8px;
  cursor: pointer;
  color: black;
  outline: none;
}

.button:hover{
	background-color: lightgreen;
  color : white;
}